.main-section{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider{
    display: flex;
    background-color: aqua;
    padding: 20px 10px;
    border-radius: 8px;
    align-items: center;
    gap: 10px;
}
button{
    background-color: brown;
    color: aliceblue;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid beige;
}
button:hover{
    background-color: blue;
    color: antiquewhite;
}
img{
    height: 150px; 
    width: 200px; 
    border-radius: 8px;
    border: 1px solid whitesmoke;
}
h2{
    color: brown;
}